body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5756 {
  position:absolute;
  left:0px;
  top:0px;
}
#u5756_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1713px;
  height:846px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5756_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:26px;
}
#u5757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:26px;
  display:flex;
}
#u5757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:846px;
}
#u5758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:846px;
  display:flex;
}
#u5758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1714px;
  height:826px;
}
#u5759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:1714px;
  height:826px;
  display:flex;
}
#u5759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5760 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5761 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:4px;
  width:31px;
  height:19px;
  display:flex;
}
#u5761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5761_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5761.selected {
}
#u5761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5762 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:55px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5763 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:4px;
  width:31px;
  height:19px;
  display:flex;
}
#u5763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5763_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5763.selected {
}
#u5763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:4px;
  width:31px;
  height:19px;
  display:flex;
}
#u5764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5764_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5764.selected {
}
#u5764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
