body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1713px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3378 {
  position:absolute;
  left:0px;
  top:0px;
}
#u3378_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1713px;
  height:846px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3378_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:26px;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:26px;
  display:flex;
}
#u3379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:846px;
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1713px;
  height:846px;
  display:flex;
}
#u3380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1714px;
  height:826px;
}
#u3381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:1714px;
  height:826px;
  display:flex;
}
#u3381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3382 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:0px;
  width:79px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3383 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:4px;
  width:31px;
  height:19px;
  display:flex;
}
#u3383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3383_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3383.selected {
}
#u3383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3384 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:55px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3385 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:4px;
  width:31px;
  height:19px;
  display:flex;
}
#u3385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3385_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3385.selected {
}
#u3385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3386 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:4px;
  width:31px;
  height:19px;
  display:flex;
}
#u3386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3386_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
  background:inherit;
  background-color:rgba(214, 227, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3386.selected {
}
#u3386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
