body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:888px;
}
#u4260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1275px;
  height:888px;
  display:flex;
}
#u4260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4261 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:66px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4261_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:61px;
  width:1px;
  height:22px;
  display:flex;
}
#u4262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:66px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4263_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:889px;
}
#u4264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:907px;
  width:1134px;
  height:889px;
  display:flex;
}
#u4264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:973px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4265_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:968px;
  width:1px;
  height:22px;
  display:flex;
}
#u4266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:973px;
  width:36px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4267_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(214, 227, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:992px;
  width:68px;
  height:25px;
  display:flex;
}
#u4268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:995px;
  width:45px;
  height:20px;
  display:flex;
}
#u4269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(214, 227, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:992px;
  width:68px;
  height:25px;
  display:flex;
}
#u4270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1172px;
  height:882px;
}
#u4271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1816px;
  width:1172px;
  height:882px;
  display:flex;
}
#u4271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
  background:inherit;
  background-color:rgba(214, 227, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:1851px;
  width:45px;
  height:20px;
  display:flex;
}
#u4272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:1895px;
  width:62px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4274 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:1895px;
  width:62px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u4274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:1995px;
  width:32px;
  height:18px;
  display:flex;
}
#u4275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:1995px;
  width:32px;
  height:18px;
  display:flex;
}
#u4276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(214, 227, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1851px;
  width:59px;
  height:20px;
  display:flex;
}
#u4277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(214, 227, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:35px;
  width:59px;
  height:20px;
  display:flex;
}
#u4278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:758px;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2712px;
  width:1342px;
  height:758px;
  display:flex;
}
#u4279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(241, 242, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:3360px;
  width:69px;
  height:16px;
  display:flex;
}
#u4280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:3357px;
  width:1px;
  height:22px;
  display:flex;
}
#u4281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3379px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:3360px;
  width:69px;
  height:16px;
  display:flex;
}
#u4283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:3357px;
  width:1px;
  height:22px;
  display:flex;
}
#u4284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:3379px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:3360px;
  width:69px;
  height:16px;
  display:flex;
}
#u4286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:3357px;
  width:1px;
  height:22px;
  display:flex;
}
#u4287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:3379px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:3360px;
  width:69px;
  height:16px;
  display:flex;
}
#u4289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:3357px;
  width:1px;
  height:22px;
  display:flex;
}
#u4290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:3379px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:3360px;
  width:69px;
  height:16px;
  display:flex;
}
#u4292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:3357px;
  width:1px;
  height:22px;
  display:flex;
}
#u4293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:3379px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3403px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4296 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:3403px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4297 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:3403px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:3403px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:3403px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:3427px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4301 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:3427px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4302 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:3427px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4303 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:3427px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4304 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:3427px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4305 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:3450px;
  width:1px;
  height:22px;
  display:flex;
}
#u4305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:2px;
}
#u4306 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:3449px;
  width:943px;
  height:1px;
  display:flex;
}
#u4306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
  background:inherit;
  background-color:rgba(214, 231, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3450px;
  width:27px;
  height:24px;
  display:flex;
}
#u4307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4308 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:3450px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u4309 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:3360px;
  width:69px;
  height:16px;
  display:flex;
}
#u4309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4310 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:3357px;
  width:1px;
  height:22px;
  display:flex;
}
#u4310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4311 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:3379px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4312 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:3403px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:24px;
}
#u4313 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:3427px;
  width:105px;
  height:24px;
  display:flex;
  font-size:12px;
}
#u4313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
