body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:896px;
}
#u2398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:896px;
  display:flex;
}
#u2398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2399 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:50px;
  width:80px;
  height:30px;
  display:flex;
}
#u2399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:80px;
  background:inherit;
  background-color:rgba(239, 238, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:414px;
  height:80px;
  display:flex;
}
#u2400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:806px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:414px;
  height:806px;
  display:flex;
}
#u2401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u2402 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:50px;
  width:125px;
  height:35px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u2402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:265px;
}
#u2403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:414px;
  height:265px;
  display:flex;
}
#u2403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u2404 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:198px;
  width:45px;
  height:50px;
  display:flex;
}
#u2404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2405 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:361px;
  width:320px;
  height:18px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2405 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2405_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#D9001B;
}
#u2406 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:400px;
  width:43px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#D9001B;
}
#u2406 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2406_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:line-through ;
  color:#555555;
}
#u2407 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:402px;
  width:85px;
  height:16px;
  display:flex;
  text-decoration:line-through ;
  color:#555555;
}
#u2407 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2407_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2408 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:402px;
  width:55px;
  height:16px;
  display:flex;
  color:#D9001B;
}
#u2408 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2408_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:123px;
}
#u2409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:430px;
  width:414px;
  height:123px;
  display:flex;
}
#u2409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:569px;
  width:28px;
  height:16px;
  display:flex;
}
#u2410 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2410_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2411 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:569px;
  width:46px;
  height:16px;
  display:flex;
}
#u2411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:595px;
  width:326px;
  height:1px;
  display:flex;
}
#u2412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2413_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:60px;
  height:5px;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:594px;
  width:57px;
  height:2px;
  display:flex;
}
#u2413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:70px;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:602px;
  width:402px;
  height:70px;
  display:flex;
}
#u2414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:70px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:815px;
  width:402px;
  height:70px;
  display:flex;
}
#u2415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:806px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:414px;
  height:806px;
  display:flex;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:414px;
  height:634px;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:634px;
}
#u2418_ref {
  border-width:0px;
  position:absolute;
  left:406px;
  top:886px;
  width:1px;
  height:1px;
}
#u2419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:845px;
  width:140px;
  height:40px;
  display:flex;
}
#u2419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
