body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:764px;
}
#u7492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:764px;
  display:flex;
}
#u7492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:834px;
}
#u7494 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:952px;
  width:738px;
  height:834px;
  display:flex;
  color:#666666;
}
#u7494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
}
#u7495 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:1113px;
  width:134px;
  height:47px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:19px;
  color:#F2F2F2;
}
#u7495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#666666;
}
#u7496 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:1357px;
  width:294px;
  height:80px;
  display:flex;
  font-size:25px;
  color:#666666;
}
#u7496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7497 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1098px;
  width:348px;
  height:481px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:47px;
  background:inherit;
  background-color:rgba(252, 7, 20, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  color:#F2F2F2;
}
#u7498 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1103px;
  width:134px;
  height:47px;
  display:flex;
  font-size:19px;
  color:#F2F2F2;
}
#u7498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7499 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:764px;
  width:738px;
  height:188px;
}
#u7499_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7499_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7499_state0_content {
  left:-1px;
  top:-1px;
}
#u7500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:454px;
}
#u7500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:454px;
  display:flex;
}
#u7500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7499_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7499_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u7501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
  display:flex;
}
#u7501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7499_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7499_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u7502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
  display:flex;
}
#u7502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7499_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7499_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u7503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
  display:flex;
}
#u7503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7499_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7499_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u7504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
  display:flex;
}
#u7504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7499_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7499_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
}
#u7505 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:454px;
  display:flex;
}
#u7505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7506 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:925px;
  width:134px;
  height:19px;
}
#u7506_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7506_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7507 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7508 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7508 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7509 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7509 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7510 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7510 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7511 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7511 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7512 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7512 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7506_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7506_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7513 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7514 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7514 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7515 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7515 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7516 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7516 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7517 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7517 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7518 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7518 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7506_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7506_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7519 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7520 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7520 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7521 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7521 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7522 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7522 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7523 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7523 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7524 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7524 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7506_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7506_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7525 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7526 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7526 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7527 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7527 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7528 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7528 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7529 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7529 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7530 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7530 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7506_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7506_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7531 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7532 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7532 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7533 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7533 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7534 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7534 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7535 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7535 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7536 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7536 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7506_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:19px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7506_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7537 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7538 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7538 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7539 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7539 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7540 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7540 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7541 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7541 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7542 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u7542 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7543 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:927px;
  width:56px;
  height:16px;
  display:flex;
}
#u7543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
