body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:907px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:265px;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:265px;
  display:flex;
}
#u8060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:51px;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:197px;
  width:859px;
  height:51px;
  display:flex;
}
#u8061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:49px;
}
#u8062 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:346px;
  width:1px;
  height:49px;
  display:flex;
}
#u8062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:291px;
}
#u8063 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:395px;
  width:1px;
  height:291px;
  display:flex;
}
#u8063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:30px;
}
#u8064 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:257px;
  width:1px;
  height:30px;
  display:flex;
}
#u8064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:340px;
}
#u8065 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:287px;
  width:1px;
  height:340px;
  display:flex;
}
#u8065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:265px;
}
#u8066 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:0px;
  width:1px;
  height:265px;
  display:flex;
}
#u8066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:421px;
}
#u8067 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:265px;
  width:1px;
  height:421px;
  display:flex;
}
#u8067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:35px;
}
#u8068 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:39px;
  width:42px;
  height:37px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:35px;
}
#u8068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:35px;
}
#u8069 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:39px;
  width:42px;
  height:37px;
  display:flex;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:35px;
}
#u8069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:1074px;
}
#u8070 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:332px;
  width:805px;
  height:1074px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8071 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:111px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8072 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:111px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8073 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:111px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8074 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:111px;
  width:95px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8075 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:137px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8076 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:137px;
  width:95px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8076 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8076_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8077 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:137px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u8077 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8078 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:137px;
  width:95px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8079 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:137px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8079 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u8080 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:137px;
  width:124px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8080 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8081 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:137px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u8081 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8081_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8082 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:137px;
  width:95px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8082 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8082_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8083 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:167px;
  width:95px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8083 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8084 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:167px;
  width:95px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8084 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8084_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u8085 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:167px;
  width:85px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u8085 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u8086 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:167px;
  width:124px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:22px;
}
#u8087 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:167px;
  width:90px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u8087 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8087_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
}
#u8088 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:167px;
  width:79px;
  height:22px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8088 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8088_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u8089 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:167px;
  width:95px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8089 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8089_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:2px;
}
#u8090 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:248px;
  width:839px;
  height:1px;
  display:flex;
}
#u8090 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8090_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8092 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:257px;
  width:30px;
  height:16px;
  display:flex;
}
#u8092 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8093 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:257px;
  width:30px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8093 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8094_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8094 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:257px;
  width:104px;
  height:15px;
  display:flex;
}
#u8094 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8094_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8095 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:257px;
  width:30px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8095 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8096 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:257px;
  width:49px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8096 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8097 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:257px;
  width:49px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8097 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8098 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:257px;
  width:80px;
  height:15px;
  display:flex;
}
#u8098 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8098_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8099 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:216px;
  width:135px;
  height:26px;
  display:flex;
}
#u8099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8100 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:224px;
  width:52px;
  height:15px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8100 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8100_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8101 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:222px;
  width:52px;
  height:15px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8101 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8101_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8102 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:219px;
  width:135px;
  height:26px;
  display:flex;
}
#u8102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8104 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:287px;
  width:30px;
  height:16px;
  display:flex;
}
#u8104 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8105 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:287px;
  width:30px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8106 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:287px;
  width:95px;
  height:15px;
  display:flex;
}
#u8106 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8106_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8107 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:287px;
  width:30px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8108 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:287px;
  width:49px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u8109 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:287px;
  width:49px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u8109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8110 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:287px;
  width:80px;
  height:15px;
  display:flex;
}
#u8110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:2px;
}
#u8111 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:346px;
  width:839px;
  height:1px;
  display:flex;
}
#u8111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8112 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:355px;
  width:42px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8113 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:355px;
  width:26px;
  height:15px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8114 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:356px;
  width:53px;
  height:15px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:13px;
}
#u8114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8114_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8115 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:401px;
  width:84px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u8115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8115_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u8116 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:111px;
  width:124px;
  height:22px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u8116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
