body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u694 {
  position:fixed;
  left:0px;
  top:0px;
}
#u694_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1400px;
  height:590px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:330px;
  width:50px;
  height:60px;
  display:flex;
}
#u696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:170px;
  width:100px;
  height:60px;
  display:flex;
}
#u697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:260px;
  width:100px;
  height:60px;
  display:flex;
}
#u698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:350px;
  width:100px;
  height:60px;
  display:flex;
}
#u699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:440px;
  width:100px;
  height:60px;
  display:flex;
}
#u700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:330px;
  width:50px;
  height:60px;
  display:flex;
}
#u701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:360px;
  width:0px;
  height:0px;
}
#u702_seg0 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-84px;
  width:188px;
  height:8px;
  -webkit-transform:rotate(120.699722550814deg);
  -moz-transform:rotate(120.699722550814deg);
  -ms-transform:rotate(120.699722550814deg);
  transform:rotate(120.699722550814deg);
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:360px;
  width:0px;
  height:0px;
}
#u703_seg0 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-38px;
  width:120px;
  height:6px;
  -webkit-transform:rotate(143.615648184164deg);
  -moz-transform:rotate(143.615648184164deg);
  -ms-transform:rotate(143.615648184164deg);
  transform:rotate(143.615648184164deg);
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:360px;
  width:0px;
  height:0px;
}
#u704_seg0 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:6px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(-168.111341960372deg);
  -moz-transform:rotate(-168.111341960372deg);
  -ms-transform:rotate(-168.111341960372deg);
  transform:rotate(-168.111341960372deg);
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:360px;
  width:0px;
  height:0px;
}
#u705_seg0 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:52px;
  width:148px;
  height:6px;
  -webkit-transform:rotate(-130.815083874882deg);
  -moz-transform:rotate(-130.815083874882deg);
  -ms-transform:rotate(-130.815083874882deg);
  transform:rotate(-130.815083874882deg);
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:360px;
  width:0px;
  height:0px;
}
#u706_seg0 {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:-84px;
  width:222px;
  height:8px;
  -webkit-transform:rotate(46.8476102659946deg);
  -moz-transform:rotate(46.8476102659946deg);
  -ms-transform:rotate(46.8476102659946deg);
  transform:rotate(46.8476102659946deg);
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:360px;
  width:0px;
  height:0px;
}
#u707_seg0 {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:52px;
  width:190px;
  height:6px;
  -webkit-transform:rotate(-36.2538377374448deg);
  -moz-transform:rotate(-36.2538377374448deg);
  -ms-transform:rotate(-36.2538377374448deg);
  transform:rotate(-36.2538377374448deg);
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:170px;
  width:100px;
  height:60px;
  display:flex;
}
#u708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:260px;
  width:100px;
  height:60px;
  display:flex;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:350px;
  width:100px;
  height:60px;
  display:flex;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:440px;
  width:100px;
  height:60px;
  display:flex;
}
#u711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:140px;
  width:80px;
  height:48px;
  display:flex;
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:200px;
  width:80px;
  height:48px;
  display:flex;
}
#u713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:266px;
  width:80px;
  height:48px;
  display:flex;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:48px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:446px;
  width:80px;
  height:48px;
  display:flex;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:360px;
  width:0px;
  height:0px;
}
#u716_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-84px;
  width:216px;
  height:8px;
  -webkit-transform:rotate(131.18592516571deg);
  -moz-transform:rotate(131.18592516571deg);
  -ms-transform:rotate(131.18592516571deg);
  transform:rotate(131.18592516571deg);
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:360px;
  width:0px;
  height:0px;
}
#u717_seg0 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-38px;
  width:160px;
  height:6px;
  -webkit-transform:rotate(153.434948822922deg);
  -moz-transform:rotate(153.434948822922deg);
  -ms-transform:rotate(153.434948822922deg);
  transform:rotate(153.434948822922deg);
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:360px;
  width:0px;
  height:0px;
}
#u718_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:6px;
  width:144px;
  height:8px;
  -webkit-transform:rotate(-171.869897645844deg);
  -moz-transform:rotate(-171.869897645844deg);
  -ms-transform:rotate(-171.869897645844deg);
  transform:rotate(-171.869897645844deg);
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:360px;
  width:0px;
  height:0px;
}
#u719_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:52px;
  width:180px;
  height:6px;
  -webkit-transform:rotate(-141.842773412631deg);
  -moz-transform:rotate(-141.842773412631deg);
  -ms-transform:rotate(-141.842773412631deg);
  transform:rotate(-141.842773412631deg);
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:200px;
  width:0px;
  height:0px;
}
#u720_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-22px;
  width:148px;
  height:8px;
  -webkit-transform:rotate(165.579226872489deg);
  -moz-transform:rotate(165.579226872489deg);
  -ms-transform:rotate(165.579226872489deg);
  transform:rotate(165.579226872489deg);
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:200px;
  width:0px;
  height:0px;
}
#u721_seg0 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:8px;
  width:144px;
  height:8px;
  -webkit-transform:rotate(-170.272421448598deg);
  -moz-transform:rotate(-170.272421448598deg);
  -ms-transform:rotate(-170.272421448598deg);
  transform:rotate(-170.272421448598deg);
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:4px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:290px;
  width:0px;
  height:0px;
}
#u722_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:140px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:470px;
  width:0px;
  height:0px;
}
#u723_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:140px;
  height:4px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:530px;
  width:100px;
  height:60px;
  display:flex;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:360px;
  width:0px;
  height:0px;
}
#u725_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:96px;
  width:248px;
  height:8px;
  -webkit-transform:rotate(-124.992020198559deg);
  -moz-transform:rotate(-124.992020198559deg);
  -ms-transform:rotate(-124.992020198559deg);
  transform:rotate(-124.992020198559deg);
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:530px;
  width:100px;
  height:60px;
  display:flex;
}
#u726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:360px;
  width:0px;
  height:0px;
}
#u727_seg0 {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:96px;
  width:224px;
  height:8px;
  -webkit-transform:rotate(-115.407718108948deg);
  -moz-transform:rotate(-115.407718108948deg);
  -ms-transform:rotate(-115.407718108948deg);
  transform:rotate(-115.407718108948deg);
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:95px;
  width:85px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u728_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u728.mouseOver {
}
#u728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:95px;
  width:85px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u729_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u729.mouseOver {
}
#u729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:95px;
  width:85px;
  height:25px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u730_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 0, 0, 1);
  border-radius:3.75px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u730.mouseOver {
}
#u730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u731_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u731.mouseOver {
}
#u731_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u731.selected {
}
#u731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u732_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u732.mouseOver {
}
#u732_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u732.selected {
}
#u732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u733_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u733.mouseOver {
}
#u733_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u733.selected {
}
#u733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u734_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u734.mouseOver {
}
#u734_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u734.selected {
}
#u734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u735_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u735.mouseOver {
}
#u735_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u735.selected {
}
#u735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  display:flex;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u736 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:0px;
  width:702px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u738_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u738.mouseOver {
}
#u738_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u738.selected {
}
#u738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:360px;
  width:0px;
  height:0px;
}
#u739_seg0 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:6px;
  width:154px;
  height:8px;
  -webkit-transform:rotate(-7.59464336859145deg);
  -moz-transform:rotate(-7.59464336859145deg);
  -ms-transform:rotate(-7.59464336859145deg);
  transform:rotate(-7.59464336859145deg);
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:360px;
  width:0px;
  height:0px;
}
#u740_seg0 {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:96px;
  width:250px;
  height:8px;
  -webkit-transform:rotate(-53.130102354156deg);
  -moz-transform:rotate(-53.130102354156deg);
  -ms-transform:rotate(-53.130102354156deg);
  transform:rotate(-53.130102354156deg);
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:92px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
