body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:404px;
}
#u3524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:404px;
  display:flex;
}
#u3524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:86px;
  background:inherit;
  background-color:rgba(249, 249, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3525 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:404px;
  width:704px;
  height:86px;
  display:flex;
}
#u3525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  line-height:35px;
}
#u3526 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:409px;
  width:570px;
  height:35px;
  display:flex;
  font-size:25px;
  line-height:35px;
}
#u3526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3527 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:452px;
  width:101px;
  height:31px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u3527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3527_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3527.selected {
}
#u3527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#D9001B;
  line-height:35px;
}
#u3528 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:450px;
  width:79px;
  height:35px;
  display:flex;
  font-size:17px;
  color:#D9001B;
  line-height:35px;
}
#u3528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-decoration:line-through ;
  color:#7F7F7F;
  line-height:35px;
}
#u3529 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:453px;
  width:79px;
  height:35px;
  display:flex;
  font-size:17px;
  text-decoration:line-through ;
  color:#7F7F7F;
  line-height:35px;
}
#u3529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u3531 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:458px;
  width:50px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u3531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u3532 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:458px;
  width:40px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u3532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u3533 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:458px;
  width:40px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u3533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u3534 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:458px;
  width:20px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u3534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u3535 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:458px;
  width:20px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u3535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u3536 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:458px;
  width:20px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u3536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u3537 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:458px;
  width:57px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u3537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3538 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:458px;
  width:20px;
  height:24px;
}
#u3538_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3538_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:16px;
  display:flex;
}
#u3539 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3538_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3538_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:35px;
}
#u3540 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:450px;
  width:79px;
  height:35px;
  display:flex;
  font-size:15px;
  line-height:35px;
}
#u3540 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3541 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:585px;
  width:303px;
  height:88px;
  display:flex;
}
#u3541 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3542 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:476px;
  width:0px;
  height:0px;
}
#u3542_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:99px;
}
#u3542_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:89px;
  width:11px;
  height:10px;
}
#u3542_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:89px;
  width:10px;
  height:20px;
}
#u3542_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:1792px;
}
#u3543 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:0px;
  width:828px;
  height:1792px;
  display:flex;
}
#u3543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3544 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:116px;
  width:30px;
  height:30px;
  display:flex;
}
#u3544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:220px;
}
#u3545 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:595px;
  width:828px;
  height:220px;
  display:flex;
}
#u3545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:140px;
}
#u3546 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:869px;
  width:828px;
  height:140px;
  display:flex;
}
#u3546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:108px;
}
#u3547 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:1069px;
  width:828px;
  height:108px;
  display:flex;
}
#u3547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3548 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:467px;
  width:644px;
  height:46px;
  display:flex;
}
#u3548 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
