body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:404px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:709px;
  height:404px;
  display:flex;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:86px;
  background:inherit;
  background-color:rgba(249, 249, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:404px;
  width:704px;
  height:86px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  line-height:35px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:409px;
  width:570px;
  height:35px;
  display:flex;
  font-size:25px;
  line-height:35px;
}
#u577 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:452px;
  width:101px;
  height:31px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u578.selected {
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#D9001B;
  line-height:35px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:450px;
  width:79px;
  height:35px;
  display:flex;
  font-size:17px;
  color:#D9001B;
  line-height:35px;
}
#u579 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  text-decoration:line-through ;
  color:#7F7F7F;
  line-height:35px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:453px;
  width:79px;
  height:35px;
  display:flex;
  font-size:17px;
  text-decoration:line-through ;
  color:#7F7F7F;
  line-height:35px;
}
#u580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:458px;
  width:50px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:458px;
  width:40px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:458px;
  width:40px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u585_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:458px;
  width:20px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u585 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:458px;
  width:20px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u586 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u587_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:458px;
  width:20px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u587 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:right;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:458px;
  width:57px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:right;
}
#u588 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:458px;
  width:20px;
  height:24px;
}
#u589_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u589_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:80px;
  height:16px;
  display:flex;
}
#u590 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u589_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u589_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  line-height:35px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:450px;
  width:79px;
  height:35px;
  display:flex;
  font-size:15px;
  line-height:35px;
}
#u591 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u592 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:585px;
  width:303px;
  height:88px;
  display:flex;
}
#u592 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:476px;
  width:0px;
  height:0px;
}
#u593_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:99px;
}
#u593_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:89px;
  width:11px;
  height:10px;
}
#u593_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:89px;
  width:10px;
  height:20px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:1792px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:0px;
  width:828px;
  height:1792px;
  display:flex;
}
#u594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:116px;
  width:30px;
  height:30px;
  display:flex;
}
#u595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:220px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:595px;
  width:828px;
  height:220px;
  display:flex;
}
#u596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:140px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:869px;
  width:828px;
  height:140px;
  display:flex;
}
#u597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:108px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:1576px;
  top:1069px;
  width:828px;
  height:108px;
  display:flex;
}
#u598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u599 {
  border-width:0px;
  position:absolute;
  left:1631px;
  top:467px;
  width:644px;
  height:46px;
  display:flex;
}
#u599 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
