body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:1792px;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:1792px;
  display:flex;
}
#u3706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:522px;
  width:160px;
  height:57px;
  display:flex;
}
#u3707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:532px;
  width:128px;
  height:37px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3708_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:613px;
  width:580px;
  height:60px;
  display:flex;
}
#u3709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:637px;
  width:441px;
  height:28px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u3710 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3710_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:722px;
  width:580px;
  height:60px;
  display:flex;
}
#u3711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:745px;
  width:422px;
  height:28px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u3712 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3712_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:836px;
  width:580px;
  height:60px;
  display:flex;
}
#u3713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:852px;
  width:240px;
  height:28px;
  display:flex;
  font-family:'';
  font-weight:400;
  font-style:normal;
}
#u3714 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3714_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1159px;
  width:120px;
  height:39px;
  display:flex;
}
#u3715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1167px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3716 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3716_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:1159px;
  width:120px;
  height:39px;
  display:flex;
}
#u3717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:1167px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3718 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3718_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:1159px;
  width:136px;
  height:39px;
  display:flex;
}
#u3719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1167px;
  width:91px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3720 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:1159px;
  width:136px;
  height:39px;
  display:flex;
}
#u3721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1167px;
  width:91px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1159px;
  width:136px;
  height:39px;
  display:flex;
}
#u3723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1167px;
  width:91px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3724 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:1331px;
  width:120px;
  height:39px;
  display:flex;
}
#u3725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:1339px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:1331px;
  width:120px;
  height:39px;
  display:flex;
}
#u3727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:1339px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1243px;
  width:90px;
  height:80px;
  display:flex;
}
#u3729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1339px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:1243px;
  width:90px;
  height:80px;
  display:flex;
}
#u3731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:1339px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:80px;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1243px;
  width:90px;
  height:80px;
  display:flex;
}
#u3733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:1339px;
  width:80px;
  height:23px;
  display:flex;
  font-size:20px;
}
#u3734 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3734_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1434px;
  width:120px;
  height:39px;
  display:flex;
}
#u3735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:1434px;
  width:150px;
  height:34px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u3736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:39px;
  background:inherit;
  background-color:rgba(250, 239, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1523px;
  width:133px;
  height:39px;
  display:flex;
}
#u3737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u3738 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1531px;
  width:84px;
  height:24px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u3738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:39px;
  background:inherit;
  background-color:rgba(250, 239, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3739 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1523px;
  width:133px;
  height:39px;
  display:flex;
}
#u3739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u3740 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:1531px;
  width:84px;
  height:24px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u3740 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3740_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:39px;
  background:inherit;
  background-color:rgba(250, 239, 229, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3741 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1523px;
  width:133px;
  height:39px;
  display:flex;
}
#u3741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u3742 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1531px;
  width:84px;
  height:24px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u3742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:157px;
  width:764px;
  height:341px;
}
#u3743_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3743_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3743_state0_content {
  left:-1px;
  top:-1px;
}
#u3744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
  display:flex;
}
#u3744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3743_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3743_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
  display:flex;
}
#u3745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3743_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3743_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
  display:flex;
}
#u3746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3743_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3743_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
}
#u3747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
  display:flex;
}
#u3747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3743_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3743_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
}
#u3748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
  display:flex;
}
#u3748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3743_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:341px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3743_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
}
#u3749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:454px;
  display:flex;
}
#u3749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3750 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:449px;
  width:139px;
  height:35px;
}
#u3750_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3750_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3751 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3752 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3752 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3753 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3753 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3754 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3754 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3755 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3755 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3756 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3756 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3750_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3750_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3757 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3758 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3758 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3759 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3759 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3760 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3760 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3761 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3761 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3762 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3762 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3750_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3750_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3763 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3764 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3764 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3765 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3765 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3766 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3766 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3767 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3767 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3768 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3768 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3750_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3750_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3769 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3770 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3770 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3771 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3771 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3772 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3772 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3773 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3773 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3774 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3774 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3750_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3750_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3775 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3776 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3776 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3777 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3777 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3778 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3778 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3779 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3779 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3780 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3780 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3750_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3750_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3781 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3782 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3782 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3783 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3784 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3785 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:18px;
  height:18px;
  display:flex;
  color:#FFFFFF;
}
#u3786 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:452px;
  width:58px;
  height:29px;
  display:flex;
}
#u3787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:728px;
  width:102px;
  height:61px;
  display:flex;
}
#u3788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:694px;
  top:612px;
  width:102px;
  height:61px;
  display:flex;
}
#u3789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:836px;
  width:102px;
  height:61px;
  display:flex;
}
#u3790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:628px;
  width:30px;
  height:30px;
  display:flex;
  font-size:17px;
  color:#FFFFFF;
}
#u3791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:744px;
  width:30px;
  height:30px;
  display:flex;
  font-size:17px;
  color:#FFFFFF;
}
#u3792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:744px;
  width:30px;
  height:30px;
  display:flex;
  font-size:17px;
  color:#FFFFFF;
}
#u3793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#FFFFFF;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:851px;
  width:30px;
  height:30px;
  display:flex;
  font-size:17px;
  color:#FFFFFF;
}
#u3794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1499px;
  width:234px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
