body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:733px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:733px;
  display:flex;
}
#u1793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:733px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:0px;
  width:413px;
  height:733px;
  display:flex;
}
#u1795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:91px;
  background:inherit;
  background-color:rgba(253, 213, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:202px;
  width:170px;
  height:91px;
  display:flex;
}
#u1796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:208px;
  width:215px;
  height:16px;
  display:flex;
}
#u1797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1797_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:235px;
  width:142px;
  height:15px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:262px;
  width:201px;
  height:16px;
  display:flex;
}
#u1799 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1799_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:733px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.541176470588235);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:0px;
  width:407px;
  height:733px;
  display:flex;
}
#u1801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:277px;
  width:202px;
  height:61px;
  display:flex;
}
#u1802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:683px;
  width:413px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:216px;
  height:31px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:262px;
  width:200px;
  height:5px;
  display:flex;
}
#u1804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
