body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1592px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1592px;
  height:742px;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1592px;
  height:742px;
  display:flex;
}
#u3719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#428BCA;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:131px;
  width:100px;
  height:43px;
  display:flex;
  color:#428BCA;
}
#u3720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:210px;
  width:1260px;
  height:420px;
  display:flex;
}
#u3721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3722 {
  position:absolute;
  left:490px;
  top:131px;
}
#u3722_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3722_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  display:flex;
  color:#FFFFFF;
}
#u3723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3722_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3722_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#428BCA;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  display:flex;
  color:#428BCA;
}
#u3724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3725_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:184px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3725 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3725_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3726 label {
  left:0px;
  width:100%;
}
#u3726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:185px;
  width:100px;
  height:15px;
  display:flex;
}
#u3726 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3726_img.selected {
}
#u3726.selected {
}
#u3726_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3726_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3727 label {
  left:0px;
  width:100%;
}
#u3727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:185px;
  width:100px;
  height:15px;
  display:flex;
}
#u3727 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3727_img.selected {
}
#u3727.selected {
}
#u3727_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3727_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:234px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3729 label {
  left:0px;
  width:100%;
}
#u3729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:235px;
  width:100px;
  height:15px;
  display:flex;
}
#u3729 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3729_img.selected {
}
#u3729.selected {
}
#u3729_img.disabled {
}
#u3729.disabled {
}
#u3729_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3729_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3730 label {
  left:0px;
  width:100%;
}
#u3730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:235px;
  width:100px;
  height:15px;
  display:flex;
}
#u3730 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3730_img.selected {
}
#u3730.selected {
}
#u3730_img.disabled {
}
#u3730.disabled {
}
#u3730_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u3730_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:280px;
  width:42px;
  height:20px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3731 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3731_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3732_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:275px;
  width:300px;
  height:25px;
  display:flex;
}
#u3732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3732_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3732.disabled {
}
#u3733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:62px;
}
#u3733 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:306px;
  width:110px;
  height:62px;
  display:flex;
}
#u3733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3734 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:307px;
  width:15px;
  height:15px;
  display:flex;
}
#u3734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3735 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:275px;
  width:80px;
  height:25px;
  display:flex;
}
#u3735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3736 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:382px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3736 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3736_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3737 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:382px;
  width:70px;
  height:16px;
  display:flex;
}
#u3737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3738 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:422px;
  width:98px;
  height:16px;
  display:flex;
}
#u3738 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3738_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3739 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:378px;
  width:80px;
  height:23px;
  display:flex;
}
#u3739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3740_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3740 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:378px;
  width:110px;
  height:25px;
  display:flex;
}
#u3740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3740_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3740.disabled {
}
#u3741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3741 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:378px;
  width:80px;
  height:23px;
  display:flex;
}
#u3741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3742 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:415px;
  width:80px;
  height:23px;
  display:flex;
}
#u3742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3743_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3743 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:415px;
  width:110px;
  height:25px;
  display:flex;
}
#u3743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3743_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3743.disabled {
}
#u3744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3744 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:415px;
  width:80px;
  height:23px;
  display:flex;
}
#u3744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3746 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:230px;
  width:980px;
  height:200px;
  display:flex;
}
#u3746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u3747 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:300px;
  width:980px;
  height:1px;
  display:flex;
}
#u3747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3748 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:266px;
  width:89px;
  height:21px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3748 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3749 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:266px;
  width:89px;
  height:21px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u3750 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:360px;
  width:980px;
  height:1px;
  display:flex;
}
#u3750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3751 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:266px;
  width:89px;
  height:21px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3751 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3752 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:266px;
  width:89px;
  height:21px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3752 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3753 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:266px;
  width:89px;
  height:21px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3753 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3754 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:325px;
  width:11px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3755 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:325px;
  width:100px;
  height:16px;
  display:flex;
}
#u3755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3756 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:325px;
  width:67px;
  height:16px;
  display:flex;
}
#u3756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3756_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3757 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:380px;
  width:11px;
  height:21px;
  display:flex;
  font-size:18px;
}
#u3757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3757_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u3758 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:419px;
  width:980px;
  height:1px;
  display:flex;
}
#u3758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3759 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:325px;
  width:42px;
  height:16px;
  display:flex;
}
#u3759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3759_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3760 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:319px;
  width:109px;
  height:32px;
  display:flex;
}
#u3760 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3760_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3761 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:266px;
  width:89px;
  height:21px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3762 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:319px;
  width:185px;
  height:32px;
  display:flex;
}
#u3762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3763 label {
  left:0px;
  width:100%;
}
#u3763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3763 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:329px;
  width:21px;
  height:16px;
  display:flex;
}
#u3763 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3763_img.selected {
}
#u3763.selected {
}
#u3763_img.disabled {
}
#u3763.disabled {
}
#u3763_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:5px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3763_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3764 label {
  left:0px;
  width:100%;
}
#u3764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3764 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:384px;
  width:21px;
  height:16px;
  display:flex;
}
#u3764 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u3764_img.selected {
}
#u3764.selected {
}
#u3764_img.disabled {
}
#u3764.disabled {
}
#u3764_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:5px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3764_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u3765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3766 {
  position:absolute;
  left:610px;
  top:131px;
}
#u3766_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3766_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#428BCA;
}
#u3767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  display:flex;
  color:#428BCA;
}
#u3767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3767_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#428BCA;
}
#u3767.mouseDown {
}
#u3767_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#428BCA;
}
#u3767.selected {
}
#u3767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3766_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u3766_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  display:flex;
  color:#FFFFFF;
}
#u3768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3768_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3768.mouseDown {
}
#u3768_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 139, 202, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3768.selected {
}
#u3768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3770 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:220px;
  width:1260px;
  height:420px;
  display:flex;
}
#u3770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3771 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:266px;
  width:56px;
  height:16px;
  display:flex;
  font-family:'';
  font-weight:700;
  font-style:normal;
}
#u3771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3771_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3772 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:269px;
  width:56px;
  height:16px;
  display:flex;
}
#u3772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3773 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:265px;
  width:80px;
  height:23px;
  display:flex;
}
#u3773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3774_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3774_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  padding:3px 2px 3px 2px;
  font-family:'';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u3774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3774 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:265px;
  width:110px;
  height:25px;
  display:flex;
}
#u3774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3774_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3774.disabled {
}
#u3775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3775 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:267px;
  width:80px;
  height:23px;
  display:flex;
}
#u3775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
