body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:966px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u3115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:966px;
  height:40px;
  display:flex;
  font-family:'Microsoft YaHei Bold', 'Microsoft YaHei';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u3115 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:27px;
}
#u3116 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:240px;
  width:991px;
  height:35px;
  display:flex;
  font-size:17px;
  line-height:27px;
}
#u3116 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u3117 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:320px;
  width:282px;
  height:35px;
  display:flex;
  color:#CCCCCC;
  text-align:left;
}
#u3117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u3118 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:320px;
  width:282px;
  height:35px;
  display:flex;
  color:#666666;
  text-align:left;
}
#u3118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:27px;
}
#u3119 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:425px;
  width:991px;
  height:35px;
  display:flex;
  font-size:17px;
  line-height:27px;
}
#u3119 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
  background:inherit;
  background-color:rgba(253, 208, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3120 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:480px;
  width:230px;
  height:60px;
  display:flex;
}
#u3120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:27px;
}
#u3121 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:585px;
  width:991px;
  height:35px;
  display:flex;
  font-size:17px;
  line-height:27px;
}
#u3121 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(253, 208, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u3122 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:650px;
  width:140px;
  height:40px;
  display:flex;
  color:#555555;
}
#u3122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:27px;
}
#u3123 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:745px;
  width:991px;
  height:35px;
  display:flex;
  font-size:17px;
  line-height:27px;
}
#u3123 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  line-height:27px;
}
#u3124 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:965px;
  width:991px;
  height:35px;
  display:flex;
  font-size:17px;
  line-height:27px;
}
#u3124 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:259px;
}
#u3125 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1010px;
  width:359px;
  height:259px;
  display:flex;
}
#u3125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u3126 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:839px;
  width:200px;
  height:1px;
  display:flex;
  opacity:0.07;
}
#u3126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3127 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:328px;
  width:20px;
  height:20px;
  display:flex;
}
#u3127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3128 {
  position:fixed;
  left:0px;
  top:0px;
}
#u3128_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1400px;
  height:80px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3128_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3130 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u3130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3130_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3130.mouseOver {
}
#u3130_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3130.selected {
}
#u3130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3131 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u3131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3131_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3131.mouseOver {
}
#u3131_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3131.selected {
}
#u3131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3132 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u3132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3132_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3132.mouseOver {
}
#u3132_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3132.selected {
}
#u3132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3133 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u3133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3133_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3133.mouseOver {
}
#u3133_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3133.selected {
}
#u3133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3134 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u3134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3134_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3134.mouseOver {
}
#u3134_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3134.selected {
}
#u3134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
  display:flex;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3135 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3136 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:0px;
  width:702px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u3136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3137 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:0px;
  width:100px;
  height:80px;
  display:flex;
  font-size:18px;
  color:#CCCCCC;
}
#u3137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3137_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3137.mouseOver {
}
#u3137_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u3137.selected {
}
#u3137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
